<%= image_tag @gallery_attachment.avatar %>
<%= form_for(@gallery_attachment) do |f| %>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.text_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
